<html>
<head>
  <meta name="GENERATOR" content="Evrsoft First Page">
  <title>Your Company Login</title>
  <meta name="description" content="" />
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js"></script>
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/jquery-ui.min.js" type="text/javascript"></script>
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.13/themes/base/jquery-ui.css" type="text/css" media="all" />
</head>
<body>
  <div id ="login">
  <%= form_tag    sessions_path do %>
    <h1>Log in to your <strong>Navodayans</strong> account!</h1>
        <p class="register" >Not a member ? <%= link_to "Register here!" , sign_up_path %>
        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in" %></p>
    <div>
        <%= label_tag :email %>
        <%= text_field_tag :email , params[:email] ,:id=>"login_username", :class=>"field required" %>
    </div>
    <div> 
        <%= label_tag :password %>
        <%= password_field_tag :password , params[:password] , :class=>"field required"%>
    </div>
    <%= hidden_field_tag :login_page, true %>
    <div class="submit" >
    <%= submit_tag  "Log in" , :class => "button" %></div>
    <p class="forgot"> 
    <input type="checkbox" name="remember" id="login_remember" value="yes" />Remember my login on this computer &nbsp; &nbsp; &nbsp;
        <a href="#" id="forgotpass">Forgot your password?</a>
    </p>
    <% end %>
  </div>
</body>
</html>
