<%= form_for @user, :html => { :class => 'form-horizontal user_form' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dob, :class => 'text_field', :id => "datepicker" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :batch, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :batch, options_for_select(User::BATCH, f.object.batch) , :include_blank =>true ,:prompt => "Select Batch"%>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :organization, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organization, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :designation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :designation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.password_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Picture, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :pic %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
<%= stylesheet_link_tag "jquery-ui" %>
<%= javascript_include_tag  "jquery-1.9.1.js", 'jquery-ui', 'jquery.validate.js', 'jquery.validate.min.js' %>
<script>
  

function  validate_function(){
$(".user_form").validate({
  rules: {
    "user[name]": {
      required: true,
      minlength: 4
    },
    "user[email]": {
      required: true,
      email: true
    },
    "user[location]": {
      required: true,
      minlength: 4
    },
    "user[organization]": {
      required: true,
      minlength: 4
    },
    "user[designation]": {
      required: true,
      minlength: 4
    }
  },
  messages: {
   "user[name]" : {
      required: "Name should not be blank",
      minlength: jQuery.format("At least {0} characters required!")
    },
   "user[email]" : {
      required: "We need your email address to contact you",
      email: "Your email address must be in the format of name@domain.com"
    },
   "user[location]" : {
      required: "Location should not be blank",
      minlength: jQuery.format("At least {0} characters required!")
    },
   "user[organization]" : {
      required: "Organization should not be blank",
      minlength: jQuery.format("At least {0} characters required!")
    },
   "user[designation]" : {
      required: "Designation should not be blank",
      minlength: jQuery.format("At least {0} characters required!")
    }
  }
});

}

$(document).ready(function() {
  validate_function();
  
$( "#datepicker" ).datepicker();

 });
</script>


