<%= form_for @user, :html => { :class => 'form-horizontal' } do |f| %>
  <div class="control-group">
    <%= f.label :name, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :email, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :email, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :location, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :location, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :dob, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :dob, :class => 'text_field', :id => "datepicker" %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :batch, :class => 'control-label' %>
    <div class="controls">
      <%= f.select :batch, options_for_select(User::BATCH) %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :organization, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :organization, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :designation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :designation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :password, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :password_confirmation, :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :password_confirmation, :class => 'text_field' %>
    </div>
  </div>
  <div class="control-group">
    <%= f.label :Picture, :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :pic %>
    </div>
  </div>

  <div class="form-actions">
    <%= f.submit nil, :class => 'btn btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn' %>
  </div>
<% end %>
<%= stylesheet_link_tag "jquery-ui" %>
<%= javascript_include_tag  "jquery-1.9.1.js", 'jquery-ui' %>
<script>
  $(function() {
    $( "#datepicker" ).datepicker();
  });
  </script>