<!DOCTYPE html>
<html>
<head>
  <title>Navodayans</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

</head>
<body>
<div id="user_nav" align = "right">
  <% if current_user %>
      Hiii..
      <%= link_to image_tag( current_user.pic.url  ,:size => "15x20"),  user_path(current_user)  %>
       <%= current_user.name %>.&nbsp &nbsp &nbsp
    <%= link_to t('.Log Out'), log_out_path ,:class => 'btn btn-mini btn-danger' %>&nbsp &nbsp &nbsp
   
    <% end %>
</div>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %>
<%= yield %>

</body>
</html>
