<!DOCTYPE html>
<html>
<head>
  <title>Navodayans</title>
  <%= stylesheet_link_tag    "application", "facebox",  :media => "all" %>
  <%= javascript_include_tag "application", "jquery", "facebox" %>
   <%= csrf_meta_tags %>

</head>
<body>
     <% if current_user %>
      
      <div style="padding-top:10px">
      <div style="float:right;padding-right:10px;">
       <%= form_tag users_path, :method => 'get' do -%>  
       <%= text_field_tag :search, params[:search] , :class => 'mask-search_alphanum'%>  
        &nbsp;&nbsp;&nbsp;
          Hiii..
      <%= link_to image_tag( current_user.pic.url  ,:size => "15x20"),  user_path(current_user)  %>
       <%= current_user.name %>
          &nbsp;&nbsp;
          <%= link_to t('.Log Out'), log_out_path ,:class => 'btn btn-mini btn-danger', id: "sign_out"  %>
          &nbsp;&nbsp;
          
        <% end %>
      </div>
    </div>
      <div  style="padding-top:10px;padding-bottom:10px;padding-left:10px;">
        <%= image_tag("/images/WebsiteBanner.png", :size => "600x800") %>
      </div>
      <div id='cssmenu'>
         <ul>
          <li><a href='index.html'><span>Home</span></a></li>
          <li><a href='#'><span>Products</span></a></li>
          <li><a href='#'><span>About</span></a></li>
          <li><a href='#'><span>Contact</span></a></li>
          <li><a href='#'><span>Activities</span></a></li>
          <li><a href='#'><span>Events</span></a></li>
          <li><a href='#'><span>Batches</span></a></li>
          <li><a href='#'><span>Blogs</span></a></li>
          <li class='last'><a href='#'><span>Contact</span></a></li>
        </ul>
    </div>
    <% end %>


<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, :id => "flash_#{name}" %>
<% end %> 


<%= yield %>

</body>
</html>
